.ContainerStyle {
    background: #eee;
    height: 540px;
    width: 400px;
}

.ContainerStyle > .NavBarStyle {
    width: 100%;
}

.ContainerStyle > .Content {
    flex: 1;
    width: 100%;
}

.ContainerStyle > .TabBar {
    width: 100%;
}

